* {
    box-sizing: border-box;
    border: 1px solid goldenrod;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
@media screen and (orientation: portrait) {
    body{
        background-image: url("../../assets/img/ange6.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        width: 100%;
        
        
    }
}

@media screen and (orientation: landscape) {
    body{
        background-image: url("../../assets/img/daemon.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        width: 100%;
    }   
}